body {
    margin : 0;
}

h1 {
    margin-top: 0;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 5%;
}

#game {
    display: none;
    flex-direction: row;
    margin: 0 5%;
}

.container {
    width: calc(100% / 3);
}


#main-container {
    text-align: center;
}
